<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Y2 confessions</title>
</head>
<body>
  
 <div class="header">
     <h1>Welcome Y2s!</h1>
    <p>How truthful can you really be?</p>
  </div>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/confessions">Confessions</a>
  <a href="/letter">Write</a>
  <a href="/letters">Read</a>
</div>

<div style="padding-left:16px">
  <h1 class="h1">Letters</h1>
    {%for letter in letters%}
      <p class="p1">{{letter.seclet}}</p>
      <p class="p1">{{letter.initials}}</p>
    {%endfor%}
</div>

</body>
</html>